<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crea Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    
    
  </ion-list>
   
  <form [formGroup] ="datos">
    <ion-list>
      
      <ion-item>
        <ion-label position = "floating">Nombre</ion-label>  
        <ion-input type="text"
                  formControlName="nombre"
                 required>
        </ion-input>  
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Elaboración</ion-label>  
        <ion-input type="text"
                   formControlName="descripcion"
                 required>
        </ion-input>  
      </ion-item>


      <ion-item>
        <ion-label position = "floating">Ingredientes</ion-label>  
        <ion-input holderplace="Ing1 Ing2 Ing3" type="text"
                   formControlName="ingredientes"
                 required>
        </ion-input>  
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Proteinas</ion-label>  
        <ion-input type="number"
                   formControlName="proteinas"
                 required>
        </ion-input>  
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Carbohidratos</ion-label>  
        <ion-input type="number"
                   formControlName="carbos"
                 required>
        </ion-input>  
      </ion-item>

      <ion-item>
        <ion-label position = "floating">Grasas</ion-label>  
        <ion-input type="number"
                   formControlName="grasa"
                 required>
        </ion-input>  
      </ion-item>

      <ion-item>
        <ion-label>Categorias:</ion-label>  
        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          <input type="checkbox" name="transporte" value="1">Comida sana
          <br>
          <input type="checkbox" name="transporte" value="2">Reducir peso
          <br>
          <input type="checkbox" name="transporte" value="4">Carne
          <br>
          <input type="checkbox" name="transporte" value="5">Pescado
          <br>
          <input type="checkbox" name="transporte" value="6">Verduras
          <br>
          <input type="checkbox" name="transporte" value="7">Postre
          <br>
          <input type="checkbox" name="transporte" value="8">Frutas
          <br>
          <input type="checkbox" name="transporte" value="9">Entrante
          <br>
          <input type="checkbox" name="transporte" value="10">Desayuno
          <br>
          <input type="checkbox" name="transporte" value="11">Cena ligera
        </ion-label>
      </ion-item>

      


    </ion-list>
    
    <ion-button expands="full" type="submit"
    (click)="guardarReceta()">
      Crear  
    </ion-button>


  </form>

</ion-content>
