<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header (click)="this.nav('profile')"> 
        <ion-toolbar color="secondary">
            <div class="item item-avatar">
              <div>
                  <ion-thumbnail  slot="start">
                      <ion-chip>
                          <ion-avatar>
                              <img width="150" height="150" [src]="usuario._imageURL">
                          </ion-avatar>
                          <ion-label>@{{usuario._username}}</ion-label>
                        </ion-chip>
                    </ion-thumbnail>
              </div>
            </div>
        </ion-toolbar>
      </ion-header>
      <ion-content color="secondary">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" color="secondary">
              <ion-label>
                  <label color="[p.color]">{{p.title}}</label>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
