<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="this.perfil._id == this.autor._id" >Mis recetas</ion-title>
    <ion-title *ngIf="this.perfil._id != this.autor._id" >Recetas de @{{this.autor._username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
    <div *ngFor="let receta of misRecetas">
    <ion-card (click)="verReceta(receta)">
        <img height="150px" src="{{ receta._imageURL }}">
        <ion-card-header>
            <ion-card-title role="heading"><b>{{ receta._name }}</b></ion-card-title>
          <hr><!--
            <ion-card-subtitle class="ios hydrated" role="heading" aria-level="3">{{receta._ingredientes}}</ion-card-subtitle>
          -->
        </ion-card-header>
        <!--<hr>
        <ion-card-content class="ios card-content-ios hydrated">
          {{receta._description}}
        </ion-card-content>
        <hr>-->
        <ion-card-content>
          P:{{ receta._protein.toFixed(1) }} CH:{{ receta._carbohydrates.toFixed(1) }} G:{{ receta._fat.toFixed(1) }}
        </ion-card-content>
          
      </ion-card>  
  
    </div>
  

            

</ion-content>
        
