<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
    <ion-card>
        <img height="150px" src="{{ receta._imageURL }}">
        <ion-card-header>
            <ion-card-title role="heading"><b>{{ receta._name }}</b></ion-card-title>
          <hr><!--
            <ion-card-subtitle class="ios hydrated" role="heading" aria-level="3">{{receta._ingredientes}}</ion-card-subtitle>
          -->
        </ion-card-header>
        <!--<hr>
        <ion-card-content class="ios card-content-ios hydrated">
          {{receta._description}}
        </ion-card-content>
        -->
        <ion-card-content>
            <ion-card-subtitle><strong>Elaboración: </strong>{{ receta._description }}</ion-card-subtitle>
            <hr>
            <ion-card-subtitle><strong>Ingredientes: </strong>{{ receta._ingredientes }}</ion-card-subtitle>
            <hr>
            <ion-card-subtitle><strong>Proteina: </strong>{{ receta._protein }}</ion-card-subtitle>
            <hr>
            <ion-card-subtitle><strong>Carbohidratos: </strong>{{ receta._carbohydrates }}</ion-card-subtitle>
            <hr>
            <ion-card-subtitle><strong>Grasa: </strong>{{ receta._fat }}</ion-card-subtitle>
            <hr>
            <ion-card-subtitle><strong>Kcal Totales: </strong>{{ receta._kcals }}</ion-card-subtitle>
            <hr>
            <ion-card-subtitle><strong>Comentarios(1): </strong></ion-card-subtitle>
            
            <ion-card-subtitle>Maravillosa receta de lo mejor que he probado nunca</ion-card-subtitle>
        </ion-card-content>
          
      </ion-card>  
  
           

</ion-content>
        
