<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="perfil._id == profile._id">Tu red social</ion-title>
    <ion-title *ngIf="perfil._id != profile._id" >Gente de @{{perfil._username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">  
  <div style="display: flex; width: 100%;">
    <div id="seguidores-button" class="button active" (click)="changeClassActive('seguidores-button')">Seguidores</div>
    <div id="seguidos-button" class="button" (click)="changeClassActive('seguidos-button')">Seguidos</div>
  </div>
  <ion-searchbar debounce="800" (ionInput)="searching=true;" (ionChange)="setFilteredItems()" style="z-index:99;" id="search-bar" [placeholder]="phSearchBar" (ionInput)="startSearching()" [(ngModel)]="searchTerm"></ion-searchbar>
  
  <div style="z-index: 91; width:100%; height: 100%; position: fixed; overflow-y: hidden;" *ngIf="searching" class="spinner-container">
      <ion-spinner style="width: 20%; height: 20%; position: fixed; top: 40%; left: 40%;"></ion-spinner>
      <div style="background-color: rgba(0,0,0,0.6); overflow-y: hidden; height: 100%; width: 100%; position:fixed; top:0; left:0;"></div>
  </div>

  <ion-list lines="none" style="width:100%; align-self: center;">
    <div *ngIf="!items || items.length == 0">
      <div class="container text-center mb-5 mt-5">
          <div class="alert alert-warning">
              <strong *ngIf="!searchTerm" >No tienes {{ verTipo() }}</strong>
              <strong *ngIf="searchTerm">No se encontraron usuarios</strong>
          </div>
      </div>
    </div>
    <ion-item *ngFor="let item of items" style="width: 90%; left: 5%;">
        <ion-thumbnail slot="start" (click)="verUsuario(item)">
          <img style="width: 50px; height: 50px" [src]="item._imageURL">
        </ion-thumbnail>
          
        <ion-label>
          <ion-label (click)="verUsuario(item)">{{item._name}}</ion-label>
          <p (click)="verUsuario(item)">@{{item._username}}</p>
          <div *ngIf="item._id != profile._id" >
            <ion-button color="primary" *ngIf="!perfil._following.includes(item._id.valueOf())"  (click)="seguir(item)">Seguir</ion-button>
            <button class="btn btn-info" *ngIf="perfil._following.includes(item._id.valueOf())" (click)="noSeguir(item)">Siguiendo</button>
          </div>
        </ion-label>
      </ion-item>
  </ion-list>
  <!-- Si se llenan los resultados dejad de mostrar -->
  <ion-infinite-scroll *ngIf="!(items.length >= allItems.length)" threshold="0px" (ionInfinite)="addItems(20)">
      <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>