<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="perfil._id == profile._id" >Mi perfil</ion-title>
    <ion-title *ngIf="perfil._id != profile._id" >@{{ perfil._username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
            <img style="width: 100%; height:200px;" [src]="perfil._imageURL">
    </ion-card-header>
    <ion-card-content>
        <ion-card-title>Username: {{perfil._username}}</ion-card-title>
        <ion-card-subtitle>Email: {{perfil._email}}</ion-card-subtitle>
        <ion-card-subtitle>Dirección: {{perfil._address}}</ion-card-subtitle>
        <ion-card-subtitle class="touchable" (click)="verRecetas()">Recetas: {{ cuantasRecetas() }}</ion-card-subtitle>
        <ion-card-subtitle class="touchable" (click)="verSeguidores()">Seguidores: {{ perfil._followers.length }}</ion-card-subtitle>
        <ion-card-subtitle class="touchable" (click)="verSeguidos()">Seguidos: {{ perfil._following.length }}</ion-card-subtitle>
        <div *ngIf="perfil._id != profile._id" >
          <ion-button color="primary" *ngIf="!this.perfil._followers.includes(this.profile._id)"  (click)="seguir()">Seguir</ion-button>
          <ion-button color="success" *ngIf="this.perfil._followers.includes(this.profile._id)"  (click)="noSeguir()">Siguiendo</ion-button>
        </div>
        <div *ngIf="perfil._id == profile._id" >
          <ion-button color="primary" (click)="cerrarSesion()">Cerrar sesión</ion-button>
        </div>
      </ion-card-content>
  </ion-card>
</ion-content>
