<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/images/recetas/ensaladilla-rusa.jpg">
          </ion-avatar>
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
              <h3>Ensaladilla rusa</h3>
              <p>La mejor ensaladilla que puedes probar...</p>
              <p style="color:red">Paco_114</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/images/recetas/ensaladilla-rusa.jpg">
            </ion-avatar>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                <h3>Ensaladilla rusa</h3>
                <p>La mejor ensaladilla que puedes probar...</p>
                <p style="color:red">Paco_114</p>
            </ion-label>
          </ion-item>
          <ion-item>
              <ion-avatar slot="start">
                <img src="../../assets/images/recetas/ensaladilla-rusa.jpg">
              </ion-avatar>
              <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                  <h3>Ensaladilla rusa</h3>
                  <p>La mejor ensaladilla que puedes probar...</p>
                  <p style="color:red">Paco_114</p>
              </ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                  <img src="../../assets/images/recetas/ensaladilla-rusa.jpg">
                </ion-avatar>
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                    <h3>Ensaladilla rusa</h3>
                    <p>La mejor ensaladilla que puedes probar...</p>
                    <p style="color:red">Paco_114</p>
                </ion-label>
              </ion-item>
</ion-content>
