<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">  
    <div style="display: flex; width: 100%;">
      <div id="recetas-button" class="button active" (click)="changeClassActive('recetas-button')">Recetas destacadas</div>
      <div id="usuarios-button" class="button" (click)="changeClassActive('usuarios-button')">Siguiendo</div>
    </div>
          <ion-list lines="none" style="width:100%; align-self: center;">
              <ion-item *ngFor="let item of recetas" style="width: 90%; left: 5%;" color="tertiary"  (click)="ver(item)">
                  <ion-thumbnail slot="start">
                    <img style="width: 50px; height: 50px" [src]="item._imageURL">
                  </ion-thumbnail>
                    
                  <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                      <h3>{{ item._name}}</h3>
                      <p>{{item._description}}</p>
                      <p *ngIf="usuarios[item._author]" style="color:red" (click)="verUsuario(item)">
                          {{usuarios[item._author]._username}}
                      </p>
                  </ion-label>
                </ion-item>
            </ion-list>
</ion-content>
