<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card (click)="testClick()">
          <ion-thumbnail item-left>
              <img src="../../assets/images/recetas/ensaladilla-rusa.jpg">
            </ion-thumbnail>
            <p>Ensaladilla rusa</p>
            <ion-label>La mejor ensalada que puedes probar...</ion-label>
        <ion-row>
          <ion-col>
            Paco_114
          </ion-col>
            <ion-col>
                <label>3 comentarios</label>
              </ion-col>
       </ion-row>
      </ion-card>

      <ion-list>
          <ion-item>
            <ion-thumbnail item-left>
              <img src="../../assets/images/recetas/ensaladilla-rusa.jpg" />
            </ion-thumbnail>
            ITem
            <ion-row><p>ensalada de puñetazos</p></ion-row>
            <ion-row><p>ensalada de puñetazos</p></ion-row>
            
          </ion-item>
        </ion-list>
      
        <ion-card>
            <ion-avatar>
              <img src="../../assets/images/recetas/ensaladilla-rusa.jpg">
            </ion-avatar>
           <ion-card-content>
          <p>BEET ROOT AND RED BEAN VEGAN BURGERS</p>
        </ion-card-content>
      
       <ion-row>
          <ion-col>
            <div>$ 10.00</div>
          </ion-col>
          <ion-col> 
            <div> x</div>
          </ion-col>
          <ion-col>
            <div> 3</div>
          </ion-col>
            <ion-col>
               <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
               </button>
            </ion-col>
       </ion-row>
        </ion-card>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <div>
                <ion-label>Ensaladilla rusa</ion-label>
            </div>
            <div>
                <ion-label>Paco_114</ion-label>
            </div>
            
            <ion-label>La mejor ensaladilla rusa del merc...</ion-label>
          </ion-item>

          <ion-list>

              <ion-item>
                <ion-thumbnail item-start>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-thumbnail>
                <h2>My Neighbor Totoro</h2>
                <p>Hayao Miyazaki • 1988</p>
                <button ion-button clear item-end>View</button>
              </ion-item>
              <ion-item>
                  <ion-thumbnail item-left>
                    <img src="assets/img/thumbnail-totoro.png">
                  </ion-thumbnail>
                  <h2>My Neighbor Totoro</h2>
                  <p>Hayao Miyazaki • 1988</p>
                  <button ion-button clear item-end>View</button>
                </ion-item>
            </ion-list>
</ion-content>
